[credential "https://github.com/harrybook/Python3Cookbook.git"]
	helper = wincred
	username = harrybook
[user]
	name = harrybook
	email = harry@ibook.edu.pl
[core]
	autocrlf = true
[diff]
	tool=p4merge
[difftool "p4merge"]
	cmd='C:/Program Files/Perforce/p4merge.exe' $LOCAL $REMOTE
[merge]
	tool=p4merge
[mergetool "p4merge"]
	cmd='C:/Program Files/Perforce/p4merge.exe' $BASE $LOCAL $REMOTE $MERGED
	trustExitCode=true
	keepBackup=false
